
body {
    background:#333;
}

.calculator {
    max-width: 350px;
    margin: 100px auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center; 
}


input[type="text"] {
    width: 95%;     height: 80px;
    background-color: #ececec;
    border: none;
    text-align: right;
    padding: 5px 15px;
    font-size: 28px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.1s ease, opacity 0.1s ease;
    outline: none;
}


input[type="text"].calculate-transition {
    transform: scale(1.1);
    opacity: 0.8;         
}


.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 15px;
    width: 100%;
}


button {
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
}


button.number {
    background-color: #fff;
    color: #333;
    border-radius: 50%; 
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


button.operator {
    background-color: #f9a825;
    color: white;
    border-radius: 8px; 
    padding: 20px 15px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


button.function {
    background-color: #d32f2f;
    color: white;
    border-radius: 25px; 
    padding: 25px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


button.equal {
    background-color: #43a047;
    color: white;
    border-radius: 50px;
    padding: 20px;
    grid-column: span 1; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}


button:hover {
    transform: translateY(-3px);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}

button:active {
    transform: translateY(1px); 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.text-container {
    text-align: left;
    margin: 0;
    padding: 0; 
}

footer {
    color: #ffff;
}
header {
    font-weight: 900 ;
    vertical-align: bottom;
}


